body {

    font-size: 24px;
}

div {
    border: 1px solid red;
    width: 800px;

}

strong {
    display: none;
}

div:hover strong {
    display: inline;
}

span {
    color: blue;
    width: 100px;
    display: inline-block;
}
